body {
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
*{
    font-family: cursive;
    box-sizing: padding-box;
}
form {
    width: 1300px;
    border: 30px solid rgb(39, 195, 230);
    padding: 20px;
    background: rgb(40, 184, 236);
    border-radius: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 40px;
}
input {
    display: block;
    border: 20px solid #ccc;
    
}
